<div class="card p-4 shadow-sm">
    <form action="{{#if isRegister}}/register{{else}}/login{{/if}}" method="POST">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
                {{#if isRegister}}Register{{else}}Login{{/if}}
            </button>
            
            {{#if isRegister}}
                <a href="/login" class="btn btn-link">Already have an account</a>
            {{else}}
                <a href="/register" class="btn btn-link">Create account</a>
            {{/if}}
        </div>
    </form>
</div>